html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.gameContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh 20vh;
}

.diceContainer {
    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.diceContainer .dice {
    position: relative;
    border: solid 1px black;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.diceContainer .dice::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
}

.diceContainer .dice.left::before {
    content: '👈';
}

.diceContainer .dice.right::before {
    content: '👉';
}

.diceContainer .dice.center::before {
    content: '👊';
}

.diceContainer .dice.neutro::before {
    content: '👎';
}

.rollButtonContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;

    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.rollButton {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 150%;
}

